In [30]:
import pandas as pd
from pprint import pprint
from item.historical.scripts.util.managers.dataframe import DataframeManager
from item.historical.scripts.util.managers.dataframe import ColumnName
from item.historical.scripts.util.managers.country_code import CountryCodeManager
from item.historical.scripts.util.managers.unit import UnitConverterManager

# Variables used all over the notebook

In [31]:
DATASET_ID = "T003"
dataframeManager = DataframeManager(DATASET_ID)
countryCodeManager = CountryCodeManager()

# Opening the dataset

In [32]:
filename = "T003_ITF_GOODS_TRANSPORT_25102019113754397.csv"
path = "/Users/hlinero/Desktop/iTEM Material/raw dataset/T003/{}".format(filename)
df = dataframeManager.get_dataframe_from_csv_file(path)
df

,COUNTRY,Country,VARIABLE,Variable,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,SVN,Slovenia,T-GOODS-RD-OWN,Road freight transport on own account,1970,1970,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,534.0,NaN,NaN
1,SVN,Slovenia,T-GOODS-RD-OWN,Road freight transport on own account,1971,1971,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,700.0,NaN,NaN
2,SVN,Slovenia,T-GOODS-RD-OWN,Road freight transport on own account,1972,1972,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,1098.0,NaN,NaN
3,SVN,Slovenia,T-GOODS-RD-OWN,Road freight transport on own account,1973,1973,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,1078.0,NaN,NaN
4,SVN,Slovenia,T-GOODS-RD-OWN,Road freight transport on own account,1974,1974,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,745.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13207,KOR,Korea,T-GOODS-RD-REW,Road freight transport for hire and reward,2013,2013,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,118582.0,NaN,NaN
13208,KOR,Korea,T-GOODS-RD-REW,Road freight transport for hire and reward,2014,2014,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,124650.0,NaN,NaN
13209,KOR,Korea,T-GOODS-RD-REW,Road freight transport for hire and reward,2015,2015,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,132382.0,NaN,NaN
13210,KOR,Korea,T-GOODS-RD-REW,Road freight transport for hire and reward,2016,2016,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,135259.0,NaN,NaN
13211,KOR,Korea,T-GOODS-RD-REW,Road freight transport for hire and reward,2017,2017,TONNEKM,Tonnes-kilometres,6,Millions,NaN,NaN,140374.0,NaN,NaN

# Removing all unnecessary columns
    Rule: To comply with the latest template, we will drop all the unnecessary columns and rename others.

In [33]:
# Droping the repeated columns
columns_to_delete = ["COUNTRY", "YEAR", "VARIABLE","Reference Period Code","Unit Code","Reference Period", "Flag Codes", "Flags", "PowerCode Code"]
df.drop(columns=columns_to_delete, inplace = True)
df

,Country,Variable,Year,Unit,PowerCode,Value
0,Slovenia,Road freight transport on own account,1970,Tonnes-kilometres,Millions,534.0
1,Slovenia,Road freight transport on own account,1971,Tonnes-kilometres,Millions,700.0
2,Slovenia,Road freight transport on own account,1972,Tonnes-kilometres,Millions,1098.0
3,Slovenia,Road freight transport on own account,1973,Tonnes-kilometres,Millions,1078.0
4,Slovenia,Road freight transport on own account,1974,Tonnes-kilometres,Millions,745.0
...,...,...,...,...,...,...
13207,Korea,Road freight transport for hire and reward,2013,Tonnes-kilometres,Millions,118582.0
13208,Korea,Road freight transport for hire and reward,2014,Tonnes-kilometres,Millions,124650.0
13209,Korea,Road freight transport for hire and reward,2015,Tonnes-kilometres,Millions,132382.0
13210,Korea,Road freight transport for hire and reward,2016,Tonnes-kilometres,Millions,135259.0
13211,Korea,Road freight transport for hire and reward,2017,Tonnes-kilometres,Millions,140374.0

# Identifying the countries with missing values
    Rule: We will erase all the countries with missing values

In [34]:
list_of_countries_with_missing_values = list(set(df[df['Value'].isnull()]["Country"]))
print(">> Number of countries missing values: {}".format(len(list_of_countries_with_missing_values)))
print(">> Countries missing values:")
pprint(list_of_countries_with_missing_values)
print(">> Number of rows to erase: {}".format(len(df[df['Value'].isnull()])))

>> Number of countries missing values: 29
>> Countries missing values:
['Slovenia',
 'Luxembourg',
 'Denmark',
 'Bosnia-Herzegovina',
 'North Macedonia',
 'Greece',
 'Norway',
 'Japan',
 'Ireland',
 'Spain',
 'Georgia',
 'New Zealand',
 'Mexico',
 'Sweden',
 'Iceland',
 'Estonia',
 'Montenegro, Republic of',
 'Liechtenstein',
 'Israel',
 'Moldova',
 'Australia',
 'Azerbaijan',
 'Korea',
 'Turkey',
 'Malta',
 'Armenia',
 'Finland',
 'Portugal',
 'Albania']
>> Number of rows to erase: 2067

In [35]:
# Dropping the values
df.dropna(inplace = True)

# Adding the "Source" Column
    Rule: Since all the data comes from the same dataset, all rows have the same source, which is the "International Transport Forum"

In [36]:
dataframeManager.simple_column_insert(df,ColumnName.SOURCE.value,"International Transport Forum")
df

,Source,Country,Variable,Year,Unit,PowerCode,Value
0,International Transport Forum,Slovenia,Road freight transport on own account,1970,Tonnes-kilometres,Millions,534.0
1,International Transport Forum,Slovenia,Road freight transport on own account,1971,Tonnes-kilometres,Millions,700.0
2,International Transport Forum,Slovenia,Road freight transport on own account,1972,Tonnes-kilometres,Millions,1098.0
3,International Transport Forum,Slovenia,Road freight transport on own account,1973,Tonnes-kilometres,Millions,1078.0
4,International Transport Forum,Slovenia,Road freight transport on own account,1974,Tonnes-kilometres,Millions,745.0
...,...,...,...,...,...,...,...
13207,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Tonnes-kilometres,Millions,118582.0
13208,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Tonnes-kilometres,Millions,124650.0
13209,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Tonnes-kilometres,Millions,132382.0
13210,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Tonnes-kilometres,Millions,135259.0
13211,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Tonnes-kilometres,Millions,140374.0

# Determing what countries have missing data related to the "Road" mode and Determining what countries have missing data related to "Total Inland FT" mode.

    Rationale 1: Mode "Road" and VT "All" is broken down into two VTs: "Road freight transport for hire and reward" and "Road freight transport on own account." We need to identify for each country, the years in which the the "All" VT is presented but one if its components is missing.
    
    Rationale 2: Just as above with the "Road" mode, the "Inland" mode has "All" as VT. However, the components that make up the "All" include the VT "Pipeline," "Inland Waterway," "Rail," and "Road ALL". Therefore, if one of those components are missing for a country, we need to identify it.

In [37]:
list(set(df["Variable"]))

['Road freight transport on own account',
 'Rail freight transport',
 'Road freight transport for hire and reward',
 'Total inland freight transport',
 'Road freight transport',
 'Pipelines transport',
 'Inland waterways freight transport']

In [38]:
# group the datafram by country
df_by_country = df.groupby(df["Country"])

# Variable holding for each country the list of problematic year
result_problematic_countries_road_mode = {}
result_problematic_countries_inland_mode = {}

# Loop through each country
for name, group in df_by_country:
    
    # For country X, group the df by year
    country_x_by_year = group.groupby(group.Year)
    
    # variable holding the problematic years for country X
    problematic_years_road_analysis = []
    problematic_years_inland_analysis = []
    
    # For each year Y in country X, check what values are missing
    for year_name, year_group in country_x_by_year:
        list_of_variables_for_country_x = set(year_group["Variable"])
        
        # Checking for problems with "Road" mode
        if "Road freight transport" in list_of_variables_for_country_x:
            for_hire_name = "Road freight transport for hire and reward"
            on_account_name = "Road freight transport on own account"
            if (for_hire_name not in list_of_variables_for_country_x and on_account_name in list_of_variables_for_country_x) or (for_hire_name in list_of_variables_for_country_x and on_account_name not in list_of_variables_for_country_x):
                problematic_years_road_analysis.append(year_name)

        # Checking for problem with "Inland" Mode
        if "Total inland freight transport" in list_of_variables_for_country_x:
            variables_of_interest_to_be_present = ['Inland waterways freight transport','Road freight transport','Pipelines transport','Rail freight transport']
            is_at_leat_one_variable_of_interest_present = False
            for variable in variables_of_interest_to_be_present:
                if variable in list_of_variables_for_country_x:
                    is_at_leat_one_variable_of_interest_present = True
            
            if is_at_leat_one_variable_of_interest_present == True:
                problematic_years_inland_analysis.append(year_name)
                    
    # Adding the list of problematic years to the country
    if len(problematic_years_road_analysis) > 0:
        result_problematic_countries_road_mode[name] = problematic_years_road_analysis
        
    
    if len(problematic_years_inland_analysis) > 0:
        result_problematic_countries_inland_mode[name] = problematic_years_inland_analysis

print("These are the countries with the year in which there are problem with the Road mode")
# result_problematic_countries_road_mode
result_problematic_countries_inland_mode

These are the countries with the year in which there are problem with the Road mode

{'Albania': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013],
 'Armenia': [2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Australia': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016],
 'Austria': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Azerbaijan': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Belarus': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Belgium': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011],
 'Bosnia-Herzegovina': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  2007,
  2008,
  2009,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Bulgaria': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Canada': [1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015],
 'China': [1978,
  1980,
  1985,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Croatia': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Czech Republic': [1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Denmark': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016],
 'Estonia': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Finland': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'France': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Georgia': [1999, 2000, 2001, 2002, 2003, 2004, 2005],
 'Germany': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Greece': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016],
 'Hungary': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Iceland': [2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'India': [1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Ireland': [1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Italy': [1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Japan': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Korea': [2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Latvia': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Liechtenstein': [2007, 2008, 2009, 2010, 2011, 2012, 2013],
 'Lithuania': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Luxembourg': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015],
 'Mexico': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Moldova': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Montenegro, Republic of': [2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Netherlands': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'New Zealand': [1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'North Macedonia': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Norway': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016],
 'Poland': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Portugal': [1979,
  1980,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Romania': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Russian Federation': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Serbia, Republic of': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Slovak Republic': [1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Slovenia': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Spain': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016],
 'Sweden': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Switzerland': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017],
 'Turkey': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'Ukraine': [1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'United Kingdom': [1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'United States': [1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017]}

# Adding the "Service" column
    Rule: As seen from the above section, there are seven(7) variables. Six (6) of them are related to freight, while one is related to pipeline. Therefore, depending on the case, the service is either "Freight" or "Pipeline"

In [39]:
# Variables holding the service value for each row
service_column = []

# For each value row, determine
for index, row in df.iterrows():
    if row["Variable"] == "Pipelines transport":
        service_column.append("Pipeline")
    else:
        service_column.append("Freight")
        
# Adding the service column to the df
df[ColumnName.SERVICE.value] = service_column

# Validating the data by asserting that the service assigned matches with the variable
for index, row in df.iterrows():
    if row["Variable"] == "Pipelines transport":
        assert row["Service"] == "Pipeline"
    else:
        assert row["Service"] == "Freight"

df

,Source,Country,Variable,Year,Unit,PowerCode,Value,Service
0,International Transport Forum,Slovenia,Road freight transport on own account,1970,Tonnes-kilometres,Millions,534.0,Freight
1,International Transport Forum,Slovenia,Road freight transport on own account,1971,Tonnes-kilometres,Millions,700.0,Freight
2,International Transport Forum,Slovenia,Road freight transport on own account,1972,Tonnes-kilometres,Millions,1098.0,Freight
3,International Transport Forum,Slovenia,Road freight transport on own account,1973,Tonnes-kilometres,Millions,1078.0,Freight
4,International Transport Forum,Slovenia,Road freight transport on own account,1974,Tonnes-kilometres,Millions,745.0,Freight
...,...,...,...,...,...,...,...,...
13207,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Tonnes-kilometres,Millions,118582.0,Freight
13208,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Tonnes-kilometres,Millions,124650.0,Freight
13209,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Tonnes-kilometres,Millions,132382.0,Freight
13210,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Tonnes-kilometres,Millions,135259.0,Freight
13211,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Tonnes-kilometres,Millions,140374.0,Freight

# Adding the "Fuel" and "Technology" columns
    Rule: The dataset does not provide any information about fuel and technology. Therefore, we assing "All" to both cases.

In [40]:
dataframeManager.simple_column_insert(df,ColumnName.TECHNOLOGY.value,"All")
dataframeManager.simple_column_insert(df,ColumnName.FUEL.value,"All")
df

,Fuel,Technology,Source,Country,Variable,Year,Unit,PowerCode,Value,Service
0,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1970,Tonnes-kilometres,Millions,534.0,Freight
1,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1971,Tonnes-kilometres,Millions,700.0,Freight
2,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1972,Tonnes-kilometres,Millions,1098.0,Freight
3,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1973,Tonnes-kilometres,Millions,1078.0,Freight
4,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1974,Tonnes-kilometres,Millions,745.0,Freight
...,...,...,...,...,...,...,...,...,...,...
13207,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Tonnes-kilometres,Millions,118582.0,Freight
13208,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Tonnes-kilometres,Millions,124650.0,Freight
13209,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Tonnes-kilometres,Millions,132382.0,Freight
13210,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Tonnes-kilometres,Millions,135259.0,Freight
13211,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Tonnes-kilometres,Millions,140374.0,Freight

# Adding the "Mode" column
    Rule: The mapping from each variable to the corresponding Mode is as follows:
    
         'Road freight transport' --> Road
         'Road freight transport for hire and reward' --> Road
         'Road freight transport on own account' --> Road
         'Rail freight transport' --> Rail
         'Pipelines transport' --> Pipeline
         'Inland waterways freight transport' --> Shipping
         'Total inland freight transport' --> Inland

In [41]:
# Variable holding info about mode of each column
mode_column = []

# For each row, do the following analysis
for index, row in df.iterrows():
    if "Road" in row["Variable"]:
        mode_column.append("Road")
        
    elif "Rail" in row["Variable"]:
        mode_column.append("Rail")
        
    elif "Pipelines" in row["Variable"]:
        mode_column.append("Pipeline")
        
    elif row["Variable"] == "Inland waterways freight transport" :
        mode_column.append("Shipping")
    
    elif row["Variable"] == "Total inland freight transport":
        mode_column.append("Inland")

# Assigning the mode column to the df
df[ColumnName.MODE.value] = mode_column
df

,Fuel,Technology,Source,Country,Variable,Year,Unit,PowerCode,Value,Service,Mode
0,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1970,Tonnes-kilometres,Millions,534.0,Freight,Road
1,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1971,Tonnes-kilometres,Millions,700.0,Freight,Road
2,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1972,Tonnes-kilometres,Millions,1098.0,Freight,Road
3,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1973,Tonnes-kilometres,Millions,1078.0,Freight,Road
4,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1974,Tonnes-kilometres,Millions,745.0,Freight,Road
...,...,...,...,...,...,...,...,...,...,...,...
13207,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Tonnes-kilometres,Millions,118582.0,Freight,Road
13208,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Tonnes-kilometres,Millions,124650.0,Freight,Road
13209,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Tonnes-kilometres,Millions,132382.0,Freight,Road
13210,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Tonnes-kilometres,Millions,135259.0,Freight,Road
13211,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Tonnes-kilometres,Millions,140374.0,Freight,Road

# Adding the "Vehicle Type" column
    Rule: The mapping from each variable to the corresponding Vehicle Type is as follows:
    
         'Pipelines transport' --> Pipeline
         'Rail freight transport' --> All
         'Road freight transport' --> All
         'Road freight transport for hire and reward' --> For Hire and Reward
         'Road freight transport on own account' --> For Own Account
         'Inland waterways freight transport' --> Inland
         'Total inland freight transport' --> All

In [42]:
# Variable holding the vehhicle type
vehicle_type = []

# For each row, do the following:
for index, row in df.iterrows():
    if row["Variable"] == "Pipelines transport":
        vehicle_type.append("Pipeline")
        
    elif row["Variable"] == "Rail freight transport":
        vehicle_type.append("All")
        
    elif row["Variable"] == "Road freight transport":
        vehicle_type.append("All")
        
    elif row["Variable"] == "Road freight transport for hire and reward":
        vehicle_type.append("For hire and reward")
    
    elif row["Variable"] == "Road freight transport on own account":
        vehicle_type.append("For Own Account")
    
    elif row["Variable"] == "Inland waterways freight transport":
        vehicle_type.append("Inland Waterway")
    
    elif row["Variable"] == "Total inland freight transport":
        vehicle_type.append("All")

# Adding the vehicle type column
df[ColumnName.VEHICLE_TYPE.value] = vehicle_type
df

,Fuel,Technology,Source,Country,Variable,Year,Unit,PowerCode,Value,Service,Mode,Vehicle Type
0,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1970,Tonnes-kilometres,Millions,534.0,Freight,Road,For Own Account
1,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1971,Tonnes-kilometres,Millions,700.0,Freight,Road,For Own Account
2,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1972,Tonnes-kilometres,Millions,1098.0,Freight,Road,For Own Account
3,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1973,Tonnes-kilometres,Millions,1078.0,Freight,Road,For Own Account
4,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1974,Tonnes-kilometres,Millions,745.0,Freight,Road,For Own Account
...,...,...,...,...,...,...,...,...,...,...,...,...
13207,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Tonnes-kilometres,Millions,118582.0,Freight,Road,For hire and reward
13208,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Tonnes-kilometres,Millions,124650.0,Freight,Road,For hire and reward
13209,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Tonnes-kilometres,Millions,132382.0,Freight,Road,For hire and reward
13210,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Tonnes-kilometres,Millions,135259.0,Freight,Road,For hire and reward
13211,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Tonnes-kilometres,Millions,140374.0,Freight,Road,For hire and reward

# Analyzing how many units are available

In [43]:
set(df["Unit"])

{'Tonnes-kilometres'}

# Setting the "Unit" column
    Rule: Since there the dataset only has one unit, we will change it to the appropriate unit which is "10 ^9 tonnes - km / yr"

In [44]:
# Erasing the current "Unit" column
df.drop(columns=["Unit"], inplace = True)
dataframeManager.simple_column_insert(df,ColumnName.UNIT.value,"10^9 tonne-km / yr")
df

,Unit,Fuel,Technology,Source,Country,Variable,Year,PowerCode,Value,Service,Mode,Vehicle Type
0,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1970,Millions,534.0,Freight,Road,For Own Account
1,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1971,Millions,700.0,Freight,Road,For Own Account
2,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1972,Millions,1098.0,Freight,Road,For Own Account
3,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1973,Millions,1078.0,Freight,Road,For Own Account
4,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1974,Millions,745.0,Freight,Road,For Own Account
...,...,...,...,...,...,...,...,...,...,...,...,...
13207,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Millions,118582.0,Freight,Road,For hire and reward
13208,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Millions,124650.0,Freight,Road,For hire and reward
13209,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Millions,132382.0,Freight,Road,For hire and reward
13210,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Millions,135259.0,Freight,Road,For hire and reward
13211,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Millions,140374.0,Freight,Road,For hire and reward

# Setting the "Value" column
    Rule: The magnitude of the value is millions. We are changing it to billion, given than 1B = 1000M

In [45]:
# Variable holding the new magnitude
magnitude_in_billion = []

for index, row in df.iterrows():
    current_magnitude = row["Value"]
    new_magnitude = current_magnitude/1000
    magnitude_in_billion.append(new_magnitude)

# Removing the old magnitude
df.drop(columns=["Value"], inplace=True)

# Adding the new values in Billion
df[ColumnName.VALUE.value] = magnitude_in_billion
df

,Unit,Fuel,Technology,Source,Country,Variable,Year,PowerCode,Service,Mode,Vehicle Type,Value
0,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1970,Millions,Freight,Road,For Own Account,0.534
1,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1971,Millions,Freight,Road,For Own Account,0.700
2,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1972,Millions,Freight,Road,For Own Account,1.098
3,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1973,Millions,Freight,Road,For Own Account,1.078
4,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,Road freight transport on own account,1974,Millions,Freight,Road,For Own Account,0.745
...,...,...,...,...,...,...,...,...,...,...,...,...
13207,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2013,Millions,Freight,Road,For hire and reward,118.582
13208,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2014,Millions,Freight,Road,For hire and reward,124.650
13209,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2015,Millions,Freight,Road,For hire and reward,132.382
13210,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2016,Millions,Freight,Road,For hire and reward,135.259
13211,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,Road freight transport for hire and reward,2017,Millions,Freight,Road,For hire and reward,140.374

# Setting the "Variable" column
    Rule: Since all data is associated to freight, the variable is "Freight Activity"

In [46]:
# Removing the current variable column
df.drop(columns=["Variable"], inplace=True)

# Adding the new "Variable" column
df[ColumnName.VARIABLE.value] = ["Freight Activity"] * len(df)
df

,Unit,Fuel,Technology,Source,Country,Year,PowerCode,Service,Mode,Vehicle Type,Value,Variable
0,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,1970,Millions,Freight,Road,For Own Account,0.534,Freight Activity
1,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,1971,Millions,Freight,Road,For Own Account,0.700,Freight Activity
2,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,1972,Millions,Freight,Road,For Own Account,1.098,Freight Activity
3,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,1973,Millions,Freight,Road,For Own Account,1.078,Freight Activity
4,10^9 tonne-km / yr,All,All,International Transport Forum,Slovenia,1974,Millions,Freight,Road,For Own Account,0.745,Freight Activity
...,...,...,...,...,...,...,...,...,...,...,...,...
13207,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,2013,Millions,Freight,Road,For hire and reward,118.582,Freight Activity
13208,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,2014,Millions,Freight,Road,For hire and reward,124.650,Freight Activity
13209,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,2015,Millions,Freight,Road,For hire and reward,132.382,Freight Activity
13210,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,2016,Millions,Freight,Road,For hire and reward,135.259,Freight Activity
13211,10^9 tonne-km / yr,All,All,International Transport Forum,Korea,2017,Millions,Freight,Road,For hire and reward,140.374,Freight Activity

# Creating a Mode "Inland (exl. Pipeline)" which is the same as the "Inland" mode but without pipeline data

In [47]:
# Creating the new variable 
df_grouping_by_country = df.groupby(df["Country"])

# Variable holding the complete data
complete_data_per_country = {}

# For each country group, do the following
for country_name, country_group in df_grouping_by_country:
    # Group country X by year
    year_group_country_x = country_group.groupby(country_group["Year"])
    
    # Variable holding the information about <year, inland exl pipeline>
    local_result_per_year = {}
    
    # Loop each year
    for year_name, year_group in year_group_country_x:
        # Variable holding the sum for the year
        inland_exl_pipeline = 0
        
        # Loop through each data available for each year
        for index, row in year_group.iterrows():
            if row["Mode"] != "Inland" and row["Mode"] != "Pipeline" and row["Vehicle Type"] != "For Own Account" and row["Vehicle Type"] != "For hire and reward":
                inland_exl_pipeline = inland_exl_pipeline + row["Value"]
        
        # Setting the result 
        local_result_per_year[year_name] = inland_exl_pipeline
    
    # Assing the result to the country
    complete_data_per_country[country_name] = local_result_per_year

# Printing all the data
complete_data_per_country

{'Albania': {1970: 0.936,
  1971: 1.025,
  1972: 1.2,
  1973: 1.134,
  1974: 1.16,
  1975: 1.3639999999999999,
  1976: 1.23,
  1977: 1.26,
  1978: 1.5030000000000001,
  1979: 1.649,
  1980: 1.779,
  1981: 1.7440000000000002,
  1982: 1.896,
  1983: 1.917,
  1984: 1.896,
  1985: 1.826,
  1986: 1.8250000000000002,
  1987: 1.897,
  1988: 1.894,
  1989: 1.9780000000000002,
  1990: 1.779,
  1991: 0.909,
  1992: 0.6040000000000001,
  1993: 1.464,
  1994: 1.9929999999999999,
  1995: 2.13,
  1996: 2.29,
  1997: 1.363,
  1998: 1.855,
  1999: 2.037,
  2000: 2.192,
  2001: 2.25,
  2002: 2.3729999999999998,
  2003: 2.562,
  2004: 2.83,
  2005: 3.2359999999999998,
  2006: 3.342,
  2007: 3.637,
  2008: 4.1499999999999995,
  2009: 4.4910000000000005,
  2010: 4.692,
  2011: 3.855,
  2012: 3.2479999999999998,
  2013: 3.52,
  2014: 0.039887,
  2015: 0.023124000000000002,
  2016: 0.0088,
  2017: 0.0253,
  2018: 0.020399999999999998},
 'Argentina': {1994: 6.663,
  1995: 7.613,
  1996: 8.506,
  1997: 9.835,
  1998: 9.824,
  1999: 9.102,
  2000: 8.696,
  2001: 8.987,
  2002: 9.445,
  2003: 10.989,
  2004: 11.603,
  2005: 12.262,
  2006: 12.628,
  2007: 12.871,
  2008: 12.025,
  2009: 10.649,
  2010: 12.112,
  2011: 12.198,
  2012: 10.583,
  2013: 9.746,
  2014: 8.893,
  2015: 8.274,
  2016: 8.529,
  2017: 8.377},
 'Armenia': {1997: 0.381,
  1998: 0.419,
  1999: 0.323,
  2000: 0.354,
  2001: 0.487,
  2002: 0.657,
  2003: 0.809,
  2004: 0.888,
  2005: 0.885,
  2006: 1.1,
  2007: 1.4809999999999999,
  2008: 1.7389999999999999,
  2009: 0.8999999999999999,
  2010: 0.979,
  2011: 1.103,
  2012: 1.268,
  2013: 1.335,
  2014: 1.33,
  2015: 1.119,
  2016: 1.334,
  2017: 1.415},
 'Australia': {1970: 60.814,
  1971: 66.23400000000001,
  1972: 69.638,
  1973: 77.1028984,
  1974: 87.55749637,
  1975: 90.43109333,
  1976: 89.53003859,
  1977: 94.55601364,
  1978: 97.86942593,
  1979: 103.57953306,
  1980: 110.87710576,
  1981: 117.15700883,
  1982: 120.44624845999999,
  1983: 114.9480671,
  1984: 127.73727099,
  1985: 140.51857538,
  1986: 149.03826217,
  1987: 154.03204234,
  1988: 162.61548735,
  1989: 164.86995794,
  1990: 175.80898953,
  1991: 176.45802635,
  1992: 184.53953359,
  1993: 190.82031449,
  1994: 198.34021223999997,
  1995: 207.57734549999998,
  1996: 217.6581838,
  1997: 233.0427766,
  1998: 244.9316203,
  1999: 252.9787931,
  2000: 266.1859873,
  2001: 272.3976412,
  2002: 293.0362359,
  2003: 309.4857673,
  2004: 324.87282889999994,
  2005: 346.33241799999996,
  2006: 358.1493692,
  2007: 376.0661164,
  2008: 401.7835813,
  2009: 419.02958209999997,
  2010: 443.98379380000006,
  2011: 452.6537971,
  2012: 487.0812366,
  2013: 519.5937874,
  2014: 573.1654902,
  2015: 609.9005715000001,
  2016: 627.4303746,
  2017: 219.9},
 'Austria': {1970: 14.025,
  1971: 14.044,
  1972: 14.634,
  1973: 16.063000000000002,
  1974: 17.225,
  1975: 15.437000000000001,
  1976: 17.228,
  1977: 17.576999999999998,
  1978: 17.610999999999997,
  1979: 19.642000000000003,
  1980: 20.489,
  1981: 20.145,
  1982: 20.363,
  1983: 20.935000000000002,
  1984: 20.756999999999998,
  1985: 21.240000000000002,
  1986: 20.673000000000002,
  1987: 20.688000000000002,
  1988: 22.061,
  1989: 22.775,
  1990: 23.36,
  1991: 23.465,
  1992: 22.767000000000003,
  1993: 22.712000000000003,
  1994: 25.349,
  1995: 30.64,
  1996: 31.468000000000004,
  1997: 31.956000000000003,
  1998: 33.112,
  1999: 34.098,
  2000: 36.199,
  2001: 37.007999999999996,
  2002: 37.80500000000001,
  2003: 37.286,
  2004: 38.119,
  2005: 36.713,
  2006: 42.245000000000005,
  2007: 42.616,
  2008: 42.434,
  2009: 36.046,
  2010: 38.747,
  2011: 39.465,
  2012: 37.833,
  2013: 37.441,
  2014: 39.528,
  2015: 39.781000000000006,
  2016: 41.414,
  2017: 42.678,
  2018: 42.079241},
 'Azerbaijan': {1970: 28.302,
  1971: 29.494,
  1972: 29.989,
  1973: 32.227000000000004,
  1974: 34.394000000000005,
  1975: 37.239000000000004,
  1976: 38.019,
  1977: 39.061,
  1978: 40.650999999999996,
  1979: 41.39,
  1980: 40.658,
  1981: 43.917,
  1982: 44.245999999999995,
  1983: 47.793,
  1984: 47.263000000000005,
  1985: 48.885,
  1986: 50.434999999999995,
  1987: 52.421,
  1988: 54.385999999999996,
  1989: 51.998,
  1990: 45.28,
  1991: 37.697,
  1992: 19.063,
  1993: 10.649000000000001,
  1994: 5.846,
  1995: 4.258,
  1996: 4.2700000000000005,
  1997: 5.016,
  1998: 6.458,
  1999: 8.309999999999999,
  2000: 9.451,
  2001: 11.251000000000001,
  2002: 12.807,
  2003: 14.262,
  2004: 14.814,
  2005: 17.498,
  2006: 19.627,
  2007: 19.867,
  2008: 20.338,
  2009: 18.613,
  2010: 19.978,
  2011: 20.621,
  2012: 21.956,
  2013: 22.533,
  2014: 22.36,
  2015: 22.248,
  2016: 21.678,
  2017: 21.497,
  2018: 21.894000000000002},
 'Belarus': {1970: 59.445,
  1971: 64.015,
  1972: 67.072,
  1973: 68.44800000000001,
  1974: 73.487,
  1975: 77.489,
  1976: 79.314,
  1977: 82.065,
  1978: 85.01599999999999,
  1979: 83.545,
  1980: 84.98599999999999,
  1981: 86.86,
  1982: 86.801,
  1983: 88.797,
  1984: 91.068,
  1985: 93.222,
  1986: 97.946,
  1987: 100.949,
  1988: 104.69900000000001,
  1989: 105.06,
  1990: 99.593,
  1991: 89.426,
  1992: 75.001,
  1993: 58.19199999999999,
  1994: 40.546,
  1995: 35.182,
  1996: 29.375,
  1997: 34.3,
  1998: 33.902,
  1999: 34.253,
  2000: 36.477000000000004,
  2001: 35.118,
  2002: 40.885999999999996,
  2003: 46.743,
  2004: 49.38,
  2005: 53.0,
  2006: 54.771,
  2007: 59.967,
  2008: 62.868,
  2009: 56.336,
  2010: 62.357,
  2011: 68.985,
  2012: 70.51599999999999,
  2013: 69.505,
  2014: 71.633,
  2015: 65.329,
  2016: 66.367,
  2017: 75.55699999999999,
  2018: 80.693},
 'Belgium': {1970: 27.636999999999997,
  1971: 28.384999999999998,
  1972: 29.421,
  1973: 30.637999999999998,
  1974: 33.012,
  1975: 28.402,
  1976: 28.477,
  1977: 27.898,
  1978: 29.854,
  1979: 31.825000000000003,
  1980: 32.163000000000004,
  1981: 31.735,
  1982: 31.505,
  1983: 31.663000000000004,
  1984: 35.053,
  1985: 35.423,
  1986: 36.342999999999996,
  1987: 37.54,
  1988: 41.937000000000005,
  1989: 43.765,
  1990: 45.851,
  1991: 47.519999999999996,
  1992: 49.715,
  1993: 52.409000000000006,
  1994: 59.791,
  1995: 60.230000000000004,
  1996: 55.794999999999995,
  1997: 59.275999999999996,
  1998: 55.937,
  1999: 60.725,
  2000: 66.01,
  2001: 67.97,
  2002: 68.95899999999999,
  2003: 66.137,
  2004: 64.028,
  2005: 60.607,
  2006: 60.577,
  2007: 59.239000000000004,
  2008: 55.571000000000005,
  2009: 49.207,
  2010: 49.475,
  2011: 49.056,
  2012: 42.525,
  2013: 43.160000000000004,
  2014: 42.259,
  2015: 46.50300773000001,
  2016: 45.9096644,
  2017: 45.31671437,
  2018: 44.04147939},
 'Bosnia-Herzegovina': {1970: 4.236,
  1971: 4.643,
  1972: 4.611000000000001,
  1973: 4.746,
  1974: 5.429,
  1975: 5.716,
  1976: 5.652,
  1977: 6.307,
  1978: 7.5489999999999995,
  1979: 8.479,
  1980: 8.818999999999999,
  1981: 9.443999999999999,
  1982: 8.573,
  1983: 8.771,
  1984: 9.224,
  1985: 9.325,
  1986: 9.721,
  1987: 9.019,
  1988: 8.817,
  1989: 8.683,
  1990: 7.075,
  1991: 4.629,
  1992: 0.859,
  1993: 0.03,
  1994: 0.046,
  1995: 0.07100000000000001,
  1996: 0.144,
  1997: 0.33699999999999997,
  1998: 0.073,
  1999: 0.115,
  2000: 0.14,
  2001: 0.28,
  2002: 0.308,
  2003: 0.318,
  2004: 0.363,
  2005: 0.379,
  2006: 0.372,
  2007: 2.7359999999999998,
  2008: 3.115,
  2009: 2.7030000000000003,
  2010: 0.877,
  2011: 2.7359999999999998,
  2012: 3.46,
  2013: 3.982,
  2014: 4.438,
  2015: 4.691,
  2016: 5.157,
  2017: 5.396000000000001},
 'Bulgaria': {1970: 22.689,
  1971: 24.487,
  1972: 26.028,
  1973: 27.724000000000004,
  1974: 29.261000000000003,
  1975: 30.360999999999997,
  1976: 31.295,
  1977: 32.36,
  1978: 33.003,
  1979: 33.506,
  1980: 33.367000000000004,
  1981: 33.879,
  1982: 34.072,
  1983: 34.092,
  1984: 34.499,
  1985: 33.685,
  1986: 34.815,
  1987: 33.989999999999995,
  1988: 34.472,
  1989: 34.129,
  1990: 29.508,
  1991: 17.666,
  1992: 15.388,
  1993: 22.148000000000003,
  1994: 26.665,
  1995: 27.89,
  1996: 23.692,
  1997: 22.238,
  1998: 22.215,
  1999: 18.157,
  2000: 8.995000000000001,
  2001: 8.579,
  2002: 14.001999999999999,
  2003: 15.556000000000001,
  2004: 18.498,
  2005: 21.066000000000003,
  2006: 20.59,
  2007: 21.576,
  2008: 21.949999999999996,
  2009: 22.68,
  2010: 24.331,
  2011: 25.925,
  2012: 28.692,
  2013: 31.679,
  2014: 32.332,
  2015: 37.081,
  2016: 40.091,
  2017: 40.318,
  2018: 31.734},
 'Canada': {1995: 92.3,
  1996: 284.506,
  1997: 306.091,
  1998: 289.45799999999997,
  1999: 298.721,
  2000: 312.649,
  2001: 321.76,
  2002: 309.503,
  2003: 320.164,
  2004: 374.04,
  2005: 393.942,
  2006: 396.96900000000005,
  2007: 399.047,
  2008: 389.02200000000005,
  2009: 356.249,
  2010: 399.5197852,
  2011: 409.8613852,
  2012: 425.9651152,
  2013: 429.13819049999995,
  2014: 437.96302779999996,
  2015: 450.960968,
  2016: 448.53257370000006,
  2017: 475.15485739999997,
  2018: 288.303},
 'China': {1978: 701.03,
  1980: 760.49,
  1985: 1242.9,
  1990: 1743.152,
  1991: 1836.51,
  1992: 1955.314,
  1993: 2088.83,
  1994: 2253.72,
  1995: 2335.86,
  1996: 2472.5899999999997,
  1997: 2290.17,
  1998: 2252.9,
  1999: 2288.32,
  2000: 2656.11,
  2001: 2614.04,
  2002: 2821.8500000000004,
  2003: 3075.723,
  2004: 3630.34,
  2005: 4053.95,
  2006: 4461.711,
  2007: 5075.064,
  2008: 7538.617,
  2009: 8046.066,
  2010: 9346.233,
  2011: 10690.937,
  2012: 11701.742999999999,
  2013: 11564.228000000001,
  2014: 12121.669999999998,
  2015: 11924.65,
  2016: 12413.619999999999,
  2017: 13726.09},
 'Croatia': {1970: 6.479,
  1971: 6.713,
  1972: 6.3790000000000004,
  1973: 6.9559999999999995,
  1974: 7.67,
  1975: 7.215999999999999,
  1976: 7.158,
  1977: 7.7299999999999995,
  1978: 7.973,
  1979: 8.629999999999999,
  1980: 8.388,
  1981: 8.354,
  1982: 8.586,
  1983: 9.334000000000001,
  1984: 9.35,
  1985: 9.231000000000002,
  1986: 8.734,
  1987: 8.436,
  1988: 7.715,
  1989: 7.976,
  1990: 7.062,
  1991: 4.013,
  1992: 1.822,
  1993: 1.612,
  1994: 1.579,
  1995: 2.007,
  1996: 3.78,
  1997: 3.776,
  1998: 4.474,
  1999: 4.161,
  2000: 4.667,
  2001: 9.767,
  2002: 10.456999999999999,
  2003: 11.543,
  2004: 12.219000000000001,
  2005: 13.197,
  2006: 14.517000000000001,
  2007: 15.112,
  2008: 15.197,
  2009: 12.797,
  2010: 12.339,
  2011: 12.057,
  2012: 11.753,
  2013: 11.99,
  2014: 12.216,
  2015: 13.501,
  2016: 14.333,
  2017: 15.238000000000001,
  2018: 16.056},
 'Czech Republic': {1993: 39.783,
  1994: 48.248,
  1995: 58.045,
  1996: 55.438,
  1997: 62.394000000000005,
  1998: 53.483999999999995,
  1999: 54.589999999999996,
  2000: 57.30500000000001,
  2001: 54.846999999999994,
  2002: 61.457,
  2003: 62.935,
  2004: 61.510999999999996,
  2005: 59.092000000000006,
  2006: 66.915,
  2007: 65.343,
  2008: 67.177,
  2009: 58.385999999999996,
  2010: 66.282,
  2011: 69.841,
  2012: 66.163,
  2013: 69.551,
  2014: 69.322,
  2015: 74.559646613,
  2016: 66.553801861,
  2017: 60.739124241000006,
  2018: 58.19093917399999},
 'Denmark': {1970: 9.653,
  1971: 10.085999999999999,
  1972: 10.613,
  1973: 11.331999999999999,
  1974: 11.287,
  1975: 11.344,
  1976: 13.427,
  1977: 13.669,
  1978: 13.68,
  1979: 10.701,
  1980: 9.469999999999999,
  1981: 8.672,
  1982: 8.581,
  1983: 8.87,
  1984: 9.368,
  1985: 10.098,
  1986: 10.624,
  1987: 10.452,
  1988: 10.728,
  1989: 10.937000000000001,
  1990: 11.139,
  1991: 10.885,
  1992: 11.277000000000001,
  1993: 10.530999999999999,
  1994: 11.54,
  1995: 11.311,
  1996: 11.189,
  1997: 11.695,
  1998: 12.166,
  1999: 12.364,
  2000: 13.025,
  2001: 12.848,
  2002: 12.963000000000001,
  2003: 12.997,
  2004: 12.686,
  2005: 13.025,
  2006: 13.379,
  2007: 13.576,
  2008: 12.581,
  2009: 11.698,
  2010: 12.813,
  2011: 14.639,
  2012: 14.57,
  2013: 14.67,
  2014: 15.402761999999997,
  2015: 14.927434,
  2016: 15.518238},
 'Estonia': {1970: 7.404,
  1971: 7.6339999999999995,
  1972: 8.123,
  1973: 8.492,
  1974: 9.065000000000001,
  1975: 9.487,
  1976: 9.668,
  1977: 10.037,
  1978: 9.82,
  1979: 9.832,
  1980: 10.146999999999998,
  1981: 10.574000000000002,
  1982: 10.703,
  1983: 10.895,
  1984: 11.091000000000001,
  1985: 10.864999999999998,
  1986: 11.234,
  1987: 11.865,
  1988: 12.782,
  1989: 12.375,
  1990: 11.489,
  1991: 10.357,
  1992: 5.104,
  1993: 5.208,
  1994: 5.0280000000000005,
  1995: 5.395,
  1996: 6.095000000000001,
  1997: 7.875,
  1998: 9.87,
  1999: 11.272,
  2000: 12.035,
  2001: 13.234,
  2002: 14.084,
  2003: 16.098,
  2004: 17.325,
  2005: 16.46,
  2006: 16.025,
  2007: 14.856,
  2008: 12.965,
  2009: 11.183,
  2010: 12.248999999999999,
  2011: 12.184000000000001,
  2012: 10.922,
  2013: 10.709,
  2014: 9.548,
  2015: 9.373000000000001,
  2016: 9.056,
  2017: 8.514,
  2018: 8.377},
 'Finland': {1970: 18.67,
  1971: 18.756,
  1972: 20.106,
  1973: 21.211,
  1974: 22.287,
  1975: 21.938,
  1976: 22.547,
  1977: 22.999000000000002,
  1978: 23.528,
  1979: 25.168,
  1980: 26.735,
  1981: 26.591,
  1982: 27.8,
  1983: 29.695999999999998,
  1984: 28.686,
  1985: 28.174000000000003,
  1986: 27.656999999999996,
  1987: 29.352999999999998,
  1988: 31.142,
  1989: 32.894,
  1990: 33.827,
  1991: 31.504,
  1992: 30.790999999999997,
  1993: 33.42400000000001,
  1994: 34.826,
  1995: 31.708000000000002,
  1996: 32.096999999999994,
  1997: 34.482,
  1998: 35.614999999999995,
  1999: 35.446,
  2000: 37.941,
  2001: 36.635,
  2002: 37.845,
  2003: 41.081,
  2004: 42.513999999999996,
  2005: 41.635999999999996,
  2006: 40.867,
  2007: 40.353,
  2008: 41.891999999999996,
  2009: 36.59,
  2010: 40.163,
  2011: 36.402,
  2012: 34.857,
  2013: 34.019999999999996,
  2014: 33.132999999999996,
  2015: 33.084,
  2016: 36.411,
  2017: 38.459,
  2018: 39.733000000000004},
 'France': {1970: 146.608,
  1971: 149.175,
  1972: 157.791,
  1973: 169.361,
  1974: 176.09199999999998,
  1975: 152.81900000000002,
  1976: 161.801,
  1977: 159.724,
  1978: 164.606,
  1979: 172.91500000000002,
  1980: 173.72899999999998,
  1981: 158.324,
  1982: 152.91,
  1983: 147.027,
  1984: 147.264,
  1985: 146.319,
  1986: 145.243,
  1987: 151.566,
  1988: 164.514,
  1989: 170.91199999999998,
  1990: 171.63400000000001,
  1991: 173.424,
  1992: 175.121,
  1993: 164.87,
  1994: 174.833,
  1995: 209.50900000000001,
  1996: 213.26399999999998,
  1997: 219.41799999999998,
  1998: 226.631,
  1999: 241.306,
  2000: 246.85,
  2001: 246.083,
  2002: 245.512,
  2003: 242.874,
  2004: 249.763,
  2005: 240.67,
  2006: 247.96,
  2007: 257.183,
  2008: 243.45499999999998,
  2009: 205.60399999999998,
  2010: 212.434,
  2011: 220.059,
  2012: 206.17700000000002,
  2013: 205.457,
  2014: 199.87800000000001,
  2015: 190.42600000000002,
  2016: 190.618,
  2017: 202.77264860200003,
  2018: 208.221},
 'Georgia': {1970: 9.843,
  1971: 9.2,
  1972: 9.694,
  1973: 9.905,
  1974: 10.458,
  1975: 11.292,
  1976: 13.575,
  1977: 14.218,
  1978: 14.704999999999998,
  1979: 15.064,
  1980: 16.102999999999998,
  1981: 16.042,
  1982: 15.129,
  1983: 15.639,
  1984: 15.177,
  1985: 15.498999999999999,
  1986: 15.148,
  1987: 15.095,
  1988: 15.399,
  1989: 14.59,
  1990: 13.411,
  1991: 10.135,
  1992: 3.3729999999999998,
  1993: 1.675,
  1994: 1.039,
  1995: 1.376,
  1996: 1.481,
  1997: 2.3099999999999996,
  1998: 2.9589999999999996,
  1999: 3.558,
  2000: 4.388,
  2001: 5.0,
  2002: 5.617,
  2003: 6.009,
  2004: 5.425000000000001,
  2005: 6.723,
  2006: 7.979,
  2007: 7.521,
  2008: 7.114999999999999,
  2009: 6.028,
  2010: 6.848,
  2011: 6.683,
  2012: 6.6129999999999995,
  2013: 6.172,
  2014: 5.643000000000001,
  2015: 4.9254999999999995,
  2016: 4.097799999999999,
  2017: 3.6461999999999994,
  2018: 3.2908},
 'Germany': {1970: 197.31,
  1971: 191.18400000000003,
  1972: 196.037,
  1973: 211.68099999999998,
  1974: 216.18,
  1975: 197.906,
  1976: 212.84799999999998,
  1977: 216.475,
  1978: 223.988,
  1979: 240.145,
  1980: 239.639,
  1981: 232.784,
  1982: 225.752,
  1983: 229.488,
  1984: 240.32600000000002,
  1985: 243.344,
  1986: 250.315,
  1987: 250.521,
  1988: 263.154,
  1989: 275.44100000000003,
  1990: 327.803,
  1991: 340.873,
  1992: 349.139,
  1993: 334.781,
  1994: 373.872,
  1995: 371.99699999999996,
  1996: 367.644,
  1997: 381.712,
  1998: 395.914,
  1999: 413.062,
  2000: 424.665,
  2001: 429.938,
  2002: 425.656,
  2003: 428.913,
  2004: 453.82000000000005,
  2005: 469.631,
  2006: 500.991,
  2007: 522.77,
  2008: 521.263,
  2009: 458.906,
  2010: 482.692,
  2011: 492.192,
  2012: 475.659,
  2013: 478.464,
  2014: 481.86400000000003,
  2015: 486.763,
  2016: 498.41099999999994,
  2017: 498.02240136999995,
  2018: 480.75369428},
 'Greece': {1970: 7.648,
  1971: 8.465,
  1972: 9.23,
  1973: 10.029,
  1974: 10.889999999999999,
  1975: 11.675999999999998,
  1976: 11.272,
  1977: 10.966000000000001,
  1978: 10.648,
  1979: 10.318,
  1980: 9.973,
  1981: 9.533,
  1982: 9.108,
  1983: 8.699,
  1984: 10.309999999999999,
  1985: 11.085,
  1986: 13.227,
  1987: 13.655,
  1988: 12.95,
  1989: 14.484,
  1990: 13.095,
  1991: 12.49,
  1992: 10.32,
  1993: 14.477,
  1994: 15.439,
  1995: 12.661999999999999,
  1996: 13.197,
  1997: 13.084,
  1998: 13.524,
  1999: 14.188,
  2000: 14.717,
  2001: 14.802999999999999,
  2002: 15.027,
  2003: 15.155999999999999,
  2004: 16.065,
  2005: 16.474,
  2006: 17.172,
  2007: 18.194000000000003,
  2008: 17.746000000000002,
  2009: 17.477,
  2010: 20.747,
  2011: 20.778,
  2012: 20.699,
  2013: 19.441,
  2014: 19.566,
  2015: 20.057000000000002,
  2016: 24.814,
  2017: 28.776,
  2018: 0.408},
 'Hungary': {1970: 27.398000000000003,
  1971: 28.472,
  1972: 28.703,
  1973: 30.353,
  1974: 33.418,
  1975: 33.95,
  1976: 34.32,
  1977: 36.555,
  1978: 38.066,
  1979: 38.510999999999996,
  1980: 37.947,
  1981: 38.554,
  1982: 37.279,
  1983: 37.323,
  1984: 37.359,
  1985: 36.882,
  1986: 38.195,
  1987: 38.667,
  1988: 38.956999999999994,
  1989: 37.895,
  1990: 33.978,
  1991: 27.613,
  1992: 25.233,
  1993: 22.46,
  1994: 22.081,
  1995: 22.637,
  1996: 22.073,
  1997: 22.62,
  1998: 21.455,
  1999: 20.706,
  2000: 21.132,
  2001: 27.493000000000002,
  2002: 26.563000000000002,
  2003: 27.826,
  2004: 31.250999999999998,
  2005: 36.337,
  2006: 42.575,
  2007: 48.153000000000006,
  2008: 47.868,
  2009: 44.876999999999995,
  2010: 44.922,
  2011: 45.487,
  2012: 44.947,
  2013: 47.463,
  2014: 49.486000000000004,
  2015: 50.185583449,
  2016: 52.50926119299999,
  2017: 52.732451891000004,
  2018: 50.892082362000004},
 'Iceland': {2001: 0.642,
  2002: 0.66,
  2003: 0.679,
  2004: 0.699,
  2005: 0.741,
  2006: 0.786,
  2007: 0.825,
  2008: 0.805,
  2009: 0.813,
  2010: 0.806,
  2011: 0.777,
  2012: 0.786,
  2013: 0.808,
  2014: 0.85,
  2015: 0.907,
  2016: 1.052,
  2017: 1.151},
 'India': {1990: 387.7,
  1991: 437.668,
  1992: 474.908,
  1993: 509.908,
  1994: 540.748,
  1995: 597.298,
  1996: 639.768,
  1997: 681.548,
  1998: 715.048,
  1999: 775.04,
  2000: 806.4,
  2001: 848.2,
  2002: 898.2,
  2003: 976.2,
  2004: 1054.3,
  2005: 1170.243,
  2006: 1309.75,
  2007: 1457.8760000000002,
  2008: 1575.998,
  2009: 1748.756,
  2010: 1917.0529999999999,
  2011: 2079.2070000000003,
  2012: 2160.708,
  2013: 2321.828,
  2014: 2508.8430000000003,
  2015: 2684.031,
  2016: 2850.697,
  2017: 3094.502},
 'Ireland': {1970: 0.545,
  1971: 0.578,
  1972: 0.564,
  1973: 0.568,
  1974: 0.594,
  1975: 0.562,
  1976: 0.589,
  1977: 0.584,
  1978: 0.615,
  1979: 2.011,
  1980: 5.635,
  1981: 5.4959999999999996,
  1982: 5.185,
  1983: 5.252,
  1984: 5.182,
  1985: 5.122,
  1986: 5.663,
  1987: 5.521999999999999,
  1988: 5.545,
  1989: 6.035,
  1990: 5.718999999999999,
  1991: 5.741,
  1992: 5.783,
  1993: 5.67,
  1994: 5.827,
  1995: 6.095000000000001,
  1996: 6.886,
  1997: 7.5200000000000005,
  1998: 8.668999999999999,
  1999: 10.801,
  2000: 12.839,
  2001: 12.921,
  2002: 14.874,
  2003: 16.296,
  2004: 17.688000000000002,
  2005: 18.455000000000002,
  2006: 17.893,
  2007: 19.275000000000002,
  2008: 17.393,
  2009: 12.147,

In [48]:
# Getting the list of countries
list_of_countries = complete_data_per_country.keys()

for country in list_of_countries:
    # Getting list of years
    dic_new_value_per_country = complete_data_per_country[country]
    list_of_years = list(complete_data_per_country[country].keys())
    
    # Loop through each year
    for year in list_of_years:
        value = dic_new_value_per_country[year]
        local_DF = pd.DataFrame({ColumnName.SOURCE.value:["International Transport Forum"],ColumnName.COUNTRY.value:[country],ColumnName.VARIABLE.value:["Freight Activity"],ColumnName.UNIT.value:["10^9 tonne-km / yr"],ColumnName.SERVICE.value:["Freight"], ColumnName.MODE.value:["Inland (exl. Pipeline)"], ColumnName.VEHICLE_TYPE.value:["All"], ColumnName.TECHNOLOGY.value:["All"], ColumnName.FUEL.value:["All"], ColumnName.VALUE.value:[value], ColumnName.YEAR.value:[year]})
        df.append(local_DF,ignore_index = True, sort=False)
        df = pd.concat([df, local_DF],ignore_index=True)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [49]:
df

,Country,Fuel,Mode,PowerCode,Service,Source,Technology,Unit,Value,Variable,Vehicle Type,Year
0,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.534,Freight Activity,For Own Account,1970
1,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.700,Freight Activity,For Own Account,1971
2,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.098,Freight Activity,For Own Account,1972
3,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.078,Freight Activity,For Own Account,1973
4,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.745,Freight Activity,For Own Account,1974
...,...,...,...,...,...,...,...,...,...,...,...,...
13458,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6098.067,Freight Activity,All,2014
13459,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,5928.872,Freight Activity,All,2015
13460,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,5707.326,Freight Activity,All,2016
13461,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,5402.670,Freight Activity,All,2017
13462,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,2523.408,Freight Activity,All,2018

# Removing inconsistent data from selected countries. See section: *"Determing what countries have missing data related to the "Road" mode and Determining what countries have missing data related to "Total Inland FT" mode"* Each Country is handled as follows:
    >> Albania: 
        - Remove all rows with mode "Inland" for range [1970 - 2002] --> Road data is missing
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 2002] --> Road data is missing
    
    >> Armenia:
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 2002] --> 
        
    >> Belarus:
        - Remove all rows with mode "Inland" for range [1970 - 1995] --> Pipeline data is missing
        
    >> Belgium
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2012 - 2018] --> Rail data is missing
        
    >> Bosnia-Herzegovina:
        - Remove all rows with mode "Inland" for range [1998 - 2006] and 2010 --> Road data is missing
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1998 - 2006] and 2010 --> Road data is missing
        
    >> Bulgaria:
        - Remove all rows with mode "Inland" for range [1970 - 1977] --> Pipeline data is missing
    
    >> Canada:
        - Remove all rows with mode "Inland" for range [1970 - 1994] and [2014-2018] --> Multiple data is missing
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 1995] and [2014-2018] --> Multiple data is missing
        
    >> China:
        - Remove all rows with mode "Inland" for range [1970 - 1977], [1979], [1981 - 1984], and [1986 - 1989] --> Road data is missing
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 1977], [1979], [1981 - 1984], and [1986 - 1989] --> Road data is missing
        
    >> Croatia
        - Remove all rows with mode "Inland" for range [1970 - 1995] --> Multiple data is missing
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 1995] --> Multiple data is missing
        
    >> Czech Republic:
        - Remove all rows with mode "Inland" for range [1970 - 1992] --> Road data is missing
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 1992] --> Road data is missing
        
    >> Denmark:
        - Remove all rows with mode "Inland" for range [1971 - 1983] --> Pipeline data is missing
        
    >> Greece:
        - Remove all rows with mode "Inland" for range [2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2018]
        
    >> India:
        - Remove all rows with mode "Inland" for range [1970 - 2004] and [2013 - 2017]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 2004]
        
    >> Ireland:
        - Remove all rows with mode "Inland" for range [1979]
        - Remove all rows with mode "Road" and VT "All" for range [1979]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1979]
        
    >> Japan
        - Remove all rows with mode "Inland" for range [2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2018]
        
    >> Korea:
        - Remove all rows with mode "Inland" for range [2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2018]
        
    >> Latvia:
        - Remove all rows with mode "Inland" for range [1970 - 1994]
        
    >> Liechtenstein:
        - Remove all rows with mode "Inland" for range [2005 - 2006]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2005 - 2006]
        
    >> New Zealand:
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 1998]
        
    >> Norway:
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2017]
    
    >> Portugal:
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1970 - 1978] and [1981-1986]
        
    >> Serbia, Republic of:
        - Remove all rows with mode "Inland" for range [1997 - 2018]
        - Remove all rows with mode "Road" and VT "All" for range [1997 - 2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1997 - 2018]
    
    >> Spain:
        - Remove all rows with mode "Inland" for range [2017 - 2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2017 - 2018]
        
    >> Switzerland:
        - Remove all rows with mode "Inland" for range [2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2018]
        
    >> Ukraine:
        - Remove all rows with mode "Inland" for range [1990 - 2008]
        - Remove all rows with mode "Road" and VT "All" for range [1990 - 2008]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [1990 - 2008]

    >> United Kingdom:
        - Remove all rows with mode "Inland" for range [2013 - 2018]
        
    >> United States:
        - Remove all rows with mode "Inland" for range [2012 - 2018]
        - Remove all rows with mode "Inland (Exl. Pipeline)" for range [2017 - 2018]

In [50]:
list_of_index_to_erase = []

# 27 Total countries = 21 handled here and 6 handled in coming cells
conditions = {}
conditions["Albania"] = {"years": list(range(1970,2003)), "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Armenia"] = {"years": list(range(1970,2003)), "modes": ["Inland (exl. Pipeline)"]}
conditions["Belarus"] = {"years": list(range(1970,1995)), "modes": ["Inland"]}
conditions["Belgium"] = {"years": list(range(2012,2019)), "modes": ["Inland (exl. Pipeline)"]}
conditions["Bosnia-Herzegovina"] = {"years": list(range(1998,2007))+[2010], "modes": ["Inland (exl. Pipeline)"]}
conditions["Bulgaria"] = {"years": list(range(1970,1978)), "modes": ["Inland"]}
conditions["China"] = {"years": list(range(1970,1978))+[1979]+list(range(1981,1985))+list(range(1986,1990)), "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Croatia"] = {"years": list(range(1970,1996)), "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Czech Republic"] = {"years": list(range(1970,1993)), "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Denmark"] = {"years": list(range(1971,1984)), "modes": ["Inland"]}
conditions["Greece"] = {"years": [2018], "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Japan"] = {"years": [2018], "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Korea"] = {"years": [2018], "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Latvia"] = {"years": list(range(1970,1995)), "modes": ["Inland"]}
conditions["Liechtenstein"] = {"years": [2005,2006], "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["New Zealand"] = {"years": list(range(1970,1999)), "modes": ["Inland (exl. Pipeline)"]}
conditions["Norway"] = {"years": [2017], "modes": ["Inland (exl. Pipeline)"]}
conditions["Portugal"] = {"years": list(range(1970,1979))+list(range(1981,1987)), "modes": ["Inland (exl. Pipeline)"]}
conditions["Spain"] = {"years": list(range(2017,2019)), "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["Switzerland"] = {"years": [2018], "modes": ["Inland","Inland (exl. Pipeline)"]}
conditions["United Kingdom"] = {"years": list(range(2013,2019)), "modes": ["Inland"]}

list_of_countries_to_clean = list(conditions.keys())

# For each country, perform the following operations based on the data passed to each country
for index, row in df.iterrows():
    country = row["Country"]
    if country in list_of_countries_to_clean:
        list_of_years_to_erase = conditions[country]["years"]
        modes_to_erase = conditions[country]["modes"]
        if (row["Year"] in list_of_years_to_erase) and (row["Mode"] in modes_to_erase):
            list_of_index_to_erase.append(index)

len(list_of_index_to_erase)

249

### Note: Canada, India, and United States are going to be managed in this cell because they have more special conditions than the contries above

In [51]:
# Setting the special conditions
special_conditions = {}
special_conditions["Canada"] = {"years_1": list(range(1970,1995)) +list(range(2014,2019)), "modes_1": ["Inland"], "years_2": list(range(1970,1996))+list(range(2014,2019)), "modes_2": ["Inland (exl. Pipeline)"]}
special_conditions["India"] = {"years_1": list(range(1970,2005)) +list(range(2013,2018)), "modes_1": ["Inland"], "years_2": list(range(1970,2005)), "modes_2": ["Inland (exl. Pipeline)"]}
special_conditions["United States"] = {"years_1": list(range(2012,2019)), "modes_1": ["Inland"], "years_2": list(range(2017,2019)), "modes_2": ["Inland (exl. Pipeline)"]}

list_of_countries_with_special_conditions = list(special_conditions.keys())

# For each country, perform the following operations based on the data passed to each country
for index, row in df.iterrows():
    country = row["Country"]
    if country in list_of_countries_with_special_conditions:
        
        # Conditions 1
        modes_to_erase_condition_1 = special_conditions[country]["modes_1"]
        list_of_years_to_erase_condition_1 = special_conditions[country]["years_1"]
        
        # Conditions 2
        modes_to_erase_condition_2 = special_conditions[country]["modes_2"]
        list_of_years_to_erase_condition_2 = special_conditions[country]["years_1"]
        
        # Testing the conditions
        if row["Mode"] in modes_to_erase_condition_1 and row["Year"] in list_of_years_to_erase_condition_1:
            list_of_index_to_erase.append(index)
        elif row["Mode"] in modes_to_erase_condition_2 and row["Year"] in list_of_years_to_erase_condition_2:
            list_of_index_to_erase.append(index)

len(list_of_index_to_erase)

309

# Note: Ireland, Serbia, Republic of, and Ukraine will be managed in this cell because they have even more special conditions

In [52]:
finer_conditions = {}
finer_conditions["Ireland"] = {"years": [1979], "modes": ["Inland","Inland (exl. Pipeline)", "Road"]}
finer_conditions["Serbia, Republic of"] = {"years": list(range(1997,2019)), "modes": ["Inland","Inland (exl. Pipeline)", "Road"]}
finer_conditions["Ukraine"] = {"years": list(range(1990,2009)), "modes": ["Inland","Inland (exl. Pipeline)", "Road"]}

list_of_countries_to_clean = list(finer_conditions.keys())

# For each country, perform the following operations based on the data passed to each country
for index, row in df.iterrows():
    country = row["Country"]
    if country in list_of_countries_to_clean:
        list_of_years_to_erase = finer_conditions[country]["years"]
        modes_to_erase = finer_conditions[country]["modes"]
        if (row["Year"] in list_of_years_to_erase) and (row["Mode"] in modes_to_erase):
            if row["Mode"] == "Road" and row["Vehicle Type"] != "All":
                pass
            else:
                list_of_index_to_erase.append(index)

len(list_of_index_to_erase)

432

In [53]:
# Dropping the rows from the dataframe
df.drop(df.index[list_of_index_to_erase], inplace = True)
df

,Country,Fuel,Mode,PowerCode,Service,Source,Technology,Unit,Value,Variable,Vehicle Type,Year
0,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.534,Freight Activity,For Own Account,1970
1,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.700,Freight Activity,For Own Account,1971
2,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.098,Freight Activity,For Own Account,1972
3,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.078,Freight Activity,For Own Account,1973
4,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.745,Freight Activity,For Own Account,1974
...,...,...,...,...,...,...,...,...,...,...,...,...
13451,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6770.271,Freight Activity,All,2007
13452,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6998.545,Freight Activity,All,2008
13453,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6292.634,Freight Activity,All,2009
13454,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6610.056,Freight Activity,All,2010
13455,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6848.869,Freight Activity,All,2011

# Getting the ISO Code for each country
    Rule: For each country, we have to assign their respective ISO code

## Determining which countries do not appear in the list of ISO Codes
    As seen from the code below, four countries appear to not have ISO code. However, the reason is because the countries are written in a format that is not understandable. So, this is how each those "missing" countries will be called in order to obtain their ISO code
    
    Original Name --> New name
        > Montenegro, Republic of --> Montenegro
        > Bosnia-Herzegovina --> Bosnia and Herzegovina
        > Korea --> Korea, Republic of
        > Serbia, Republic of --> Serbia

In [54]:
# Getting the list of countries available
list_of_countries = list(set(df["Country"]))

# Getting the list of countries with no ISO code
countries_with_no_ISO_code = countryCodeManager.get_list_of_countries_with_no_iso_code(list_of_countries)
        
# Print this list of countries with no ISO codes
countries_with_no_ISO_code

['Bosnia-Herzegovina',
 'Serbia, Republic of',
 'Montenegro, Republic of',
 'Korea']

## Adding the ISO column to the dataset

In [55]:
dirty_list_of_all_countries = df["Country"]
clean_list_of_all_countries = []

for country in dirty_list_of_all_countries:
    if country == "Montenegro, Republic of":
        clean_list_of_all_countries.append("Montenegro")
    elif country == "Bosnia-Herzegovina":
        clean_list_of_all_countries.append("Bosnia and Herzegovina")
    elif country == "Korea":
        clean_list_of_all_countries.append("Korea, Republic of")
    elif country == "Serbia, Republic of":
        clean_list_of_all_countries.append("Serbia")
    else:
        clean_list_of_all_countries.append(country)

# Ensure the size of the cleaned list is the same as the dirty list
assert len(clean_list_of_all_countries) == len(dirty_list_of_all_countries)

# Assert that for all elements in the new list, no country is left without an ISO code
assert len(countryCodeManager.get_list_of_countries_with_no_iso_code(clean_list_of_all_countries)) == 0

# Getting the list of iso codes
list_of_iso_codes = countryCodeManager.get_list_of_iso_for_countries(clean_list_of_all_countries)

# Adding the column to the dataframe
df[ColumnName.ISO_CODE.value] = list_of_iso_codes
df

,Country,Fuel,Mode,PowerCode,Service,Source,Technology,Unit,Value,Variable,Vehicle Type,Year,ISO Code
0,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.534,Freight Activity,For Own Account,1970,SVN
1,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.700,Freight Activity,For Own Account,1971,SVN
2,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.098,Freight Activity,For Own Account,1972,SVN
3,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.078,Freight Activity,For Own Account,1973,SVN
4,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.745,Freight Activity,For Own Account,1974,SVN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13451,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6770.271,Freight Activity,All,2007,USA
13452,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6998.545,Freight Activity,All,2008,USA
13453,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6292.634,Freight Activity,All,2009,USA
13454,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6610.056,Freight Activity,All,2010,USA
13455,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6848.869,Freight Activity,All,2011,USA

# Getting the ITEM region for each country
    Rule: For each country, we need to specify the ITEM region it belongs to.

## Determining which countries are missing an ITEM region
    As seen below, all countries belong to a region. Therefore, no special processing needs to be done.

In [56]:
# Getting the list of ISO codes
list_of_iso_codes = list(set(df["ISO Code"]))

# Getting the list of ISO code with no region
iso_code_with_no_region = countryCodeManager.get_list_of_iso_codes_with_no_region(list_of_iso_codes)

# printing the list of ISO codes
iso_code_with_no_region

[]

## Adding the ITEM region column to the dataset

In [57]:
# Getting the complete list of iso codes
list_of_all_codes = df["ISO Code"]

item_region = countryCodeManager.get_list_of_regions_for_iso_codes(list_of_all_codes)

# Adding the column to the dataframe
df[ColumnName.ITEM_REGION.value] = item_region
df

,Country,Fuel,Mode,PowerCode,Service,Source,Technology,Unit,Value,Variable,Vehicle Type,Year,ISO Code,Region
0,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.534,Freight Activity,For Own Account,1970,SVN,EU-27
1,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.700,Freight Activity,For Own Account,1971,SVN,EU-27
2,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.098,Freight Activity,For Own Account,1972,SVN,EU-27
3,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,1.078,Freight Activity,For Own Account,1973,SVN,EU-27
4,Slovenia,All,Road,Millions,Freight,International Transport Forum,All,10^9 tonne-km / yr,0.745,Freight Activity,For Own Account,1974,SVN,EU-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13451,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6770.271,Freight Activity,All,2007,USA,U.S.
13452,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6998.545,Freight Activity,All,2008,USA,U.S.
13453,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6292.634,Freight Activity,All,2009,USA,U.S.
13454,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6610.056,Freight Activity,All,2010,USA,U.S.
13455,United States,All,Inland (exl. Pipeline),NaN,Freight,International Transport Forum,All,10^9 tonne-km / yr,6848.869,Freight Activity,All,2011,USA,U.S.

# Reordering the columns
    Rule: The columns have to be presented in the order established by the template.

In [58]:
df = dataframeManager.reorder_columns(df)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Mode,Vehicle Type,Technology,Fuel,Value,Year
0,International Transport Forum,Slovenia,SVN,EU-27,Freight Activity,10^9 tonne-km / yr,Freight,Road,For Own Account,All,All,0.534,1970
1,International Transport Forum,Slovenia,SVN,EU-27,Freight Activity,10^9 tonne-km / yr,Freight,Road,For Own Account,All,All,0.700,1971
2,International Transport Forum,Slovenia,SVN,EU-27,Freight Activity,10^9 tonne-km / yr,Freight,Road,For Own Account,All,All,1.098,1972
3,International Transport Forum,Slovenia,SVN,EU-27,Freight Activity,10^9 tonne-km / yr,Freight,Road,For Own Account,All,All,1.078,1973
4,International Transport Forum,Slovenia,SVN,EU-27,Freight Activity,10^9 tonne-km / yr,Freight,Road,For Own Account,All,All,0.745,1974
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13451,International Transport Forum,United States,USA,U.S.,Freight Activity,10^9 tonne-km / yr,Freight,Inland (exl. Pipeline),All,All,All,6770.271,2007
13452,International Transport Forum,United States,USA,U.S.,Freight Activity,10^9 tonne-km / yr,Freight,Inland (exl. Pipeline),All,All,All,6998.545,2008
13453,International Transport Forum,United States,USA,U.S.,Freight Activity,10^9 tonne-km / yr,Freight,Inland (exl. Pipeline),All,All,All,6292.634,2009
13454,International Transport Forum,United States,USA,U.S.,Freight Activity,10^9 tonne-km / yr,Freight,Inland (exl. Pipeline),All,All,All,6610.056,2010
13455,International Transport Forum,United States,USA,U.S.,Freight Activity,10^9 tonne-km / yr,Freight,Inland (exl. Pipeline),All,All,All,6848.869,2011

# Exporting Results

In [59]:
# Programming Friendly View
dataframeManager.create_programming_friendly_file(df)

# User Friendly View
dataframeManager.create_user_friendly_file(df)

> PF File saved at: /Users/hlinero/Documents/database/item/historical/scripts
> UF File saved at: /Users/hlinero/Documents/database/item/historical/scripts