In [63]:
import pandas as pd
import json
from pprint import pprint
from util.managers.DataframeManager import DataframeManager
from util.managers.DataframeManager import ColumnName
from util.managers.CountryCodeManager import CountryCodeManager
from util.managers.UnitConverterManager import UnitConverterManager

# Variables used across the noteboook and not changed

In [64]:
DATASET_ID = "T008"
dataframeManager = DataframeManager(DATASET_ID)
countryCodeManager = CountryCodeManager()

In [65]:
filename = "passenger-road-vehicle-fleet-and-rate-per-thousand-inhabitants-by-vehicle-catego.csv"
path = "/Users/hlinero/Desktop/iTEM Material/raw dataset/T008/{}".format(filename)
df = dataframeManager.get_dataframe_from_csv_file(path, ";")
df

,Country,Date,Frequency,Measurement,Value,Vehicle Category
0,Albania,1995,Annual,absolute value,5560.0,Motorcycles
1,Albania,1997,Annual,absolute value,3545.0,Motorcycles
2,Albania,1998,Annual,absolute value,4109.0,Motorcycles
3,Albania,2000,Annual,absolute value,3808.0,Motorcycles
4,Albania,2008,Annual,absolute value,18329.0,Motorcycles
...,...,...,...,...,...,...
9028,Uzbekistan,2014,Annual,absolute value,2672.0,Special purpose vehicles
9029,Uzbekistan,2016,Annual,absolute value,3071.0,Special purpose vehicles
9030,Uzbekistan,2012,Annual,per 1000 inhabitants,0.0,Special purpose vehicles
9031,Uzbekistan,2015,Annual,per 1000 inhabitants,0.0,Special purpose vehicles
9032,Uzbekistan,2017,Annual,per 1000 inhabitants,0.0,Special purpose vehicles

# Dropping unnecessary columns

In [66]:
df.drop(columns=["Frequency"], inplace = True)
df

,Country,Date,Measurement,Value,Vehicle Category
0,Albania,1995,absolute value,5560.0,Motorcycles
1,Albania,1997,absolute value,3545.0,Motorcycles
2,Albania,1998,absolute value,4109.0,Motorcycles
3,Albania,2000,absolute value,3808.0,Motorcycles
4,Albania,2008,absolute value,18329.0,Motorcycles
...,...,...,...,...,...
9028,Uzbekistan,2014,absolute value,2672.0,Special purpose vehicles
9029,Uzbekistan,2016,absolute value,3071.0,Special purpose vehicles
9030,Uzbekistan,2012,per 1000 inhabitants,0.0,Special purpose vehicles
9031,Uzbekistan,2015,per 1000 inhabitants,0.0,Special purpose vehicles
9032,Uzbekistan,2017,per 1000 inhabitants,0.0,Special purpose vehicles

# Renaming the "Date" column to "Year"

In [67]:
dataframeManager.rename_column(current_name="Date",df=df,new_name=ColumnName.YEAR.value)
df

,Country,Year,Measurement,Value,Vehicle Category
0,Albania,1995,absolute value,5560.0,Motorcycles
1,Albania,1997,absolute value,3545.0,Motorcycles
2,Albania,1998,absolute value,4109.0,Motorcycles
3,Albania,2000,absolute value,3808.0,Motorcycles
4,Albania,2008,absolute value,18329.0,Motorcycles
...,...,...,...,...,...
9028,Uzbekistan,2014,absolute value,2672.0,Special purpose vehicles
9029,Uzbekistan,2016,absolute value,3071.0,Special purpose vehicles
9030,Uzbekistan,2012,per 1000 inhabitants,0.0,Special purpose vehicles
9031,Uzbekistan,2015,per 1000 inhabitants,0.0,Special purpose vehicles
9032,Uzbekistan,2017,per 1000 inhabitants,0.0,Special purpose vehicles

# Adding the 'Source' column 
    Rule: The dataset comes from 'United Nations Economic Commission for Europe'

In [68]:
dataframeManager.simple_column_insert(cell_value="United Nations Economic Commission for Europe", dataframe=df, column_name= ColumnName.SOURCE.value)
df

,Source,Country,Year,Measurement,Value,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,1995,absolute value,5560.0,Motorcycles
1,United Nations Economic Commission for Europe,Albania,1997,absolute value,3545.0,Motorcycles
2,United Nations Economic Commission for Europe,Albania,1998,absolute value,4109.0,Motorcycles
3,United Nations Economic Commission for Europe,Albania,2000,absolute value,3808.0,Motorcycles
4,United Nations Economic Commission for Europe,Albania,2008,absolute value,18329.0,Motorcycles
...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,2014,absolute value,2672.0,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,2016,absolute value,3071.0,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,2012,per 1000 inhabitants,0.0,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,2015,per 1000 inhabitants,0.0,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,2017,per 1000 inhabitants,0.0,Special purpose vehicles

# Getting the ISO code for each country

## Determining which countries do not have an ISO code
    Rule: As seen below, all countries have a respective ISO code

In [69]:
list_of_countries = list(set(df[ColumnName.COUNTRY.value]))
countries_with_no_iso_code = countryCodeManager.get_list_of_countries_with_no_iso_code(list_of_countries)
countries_with_no_iso_code

[]

# Assigning the ISO code to each country

In [70]:
country_column = list(df[ColumnName.COUNTRY.value])
list_of_iso_code = []

for country in country_column:
    # Getting the code
    code = countryCodeManager.get_iso_code_for_country(country)
    
    # Appending the code to the list
    list_of_iso_code.append(code)
    
# Assert that the size of the list of iso codes is equivalent to the size of country column
assert len(list_of_iso_code) == len(country_column)
    
# Adding the ISO column to the dataframe
df.insert(2, ColumnName.ISO_CODE.value, list_of_iso_code, True)
df

,Source,Country,ISO Code,Year,Measurement,Value,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,1995,absolute value,5560.0,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,1997,absolute value,3545.0,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,1998,absolute value,4109.0,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,2000,absolute value,3808.0,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,2008,absolute value,18329.0,Motorcycles
...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,2014,absolute value,2672.0,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,2016,absolute value,3071.0,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,2012,per 1000 inhabitants,0.0,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,2015,per 1000 inhabitants,0.0,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,2017,per 1000 inhabitants,0.0,Special purpose vehicles

# Getting the ITEM region for each ISO code

# Determining which countries do not have an ITEM region
    Rule: As seen below, all ISO code have a respective region.

In [71]:
list_of_unique_iso_codes = list(set(df[ColumnName.ISO_CODE.value]))
iso_codes_with_no_region = countryCodeManager.get_list_of_iso_codes_with_no_region(list_of_unique_iso_codes)
iso_codes_with_no_region

[]

# Assigning the ITEM region

In [72]:
# Getting the complete list of iso codes
list_of_all_codes = df[ColumnName.ISO_CODE.value]

# Getting the list of regions
item_regions = countryCodeManager.get_list_of_regions_for_iso_codes(list_of_all_codes)

# Assert that the size of the list of iso codes is equivalent to the size of country column
assert len(df) == len(item_regions)

# Adding the column to the dataframe
df.insert(3, ColumnName.ITEM_REGION.value, item_regions, True)
df

,Source,Country,ISO Code,Region,Year,Measurement,Value,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,1995,absolute value,5560.0,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,1997,absolute value,3545.0,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,1998,absolute value,4109.0,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,2000,absolute value,3808.0,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,2008,absolute value,18329.0,Motorcycles
...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,2014,absolute value,2672.0,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,2016,absolute value,3071.0,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,2012,per 1000 inhabitants,0.0,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,2015,per 1000 inhabitants,0.0,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,2017,per 1000 inhabitants,0.0,Special purpose vehicles

# Adding the "Variable", "Unit", and "Value" column
    Rule: This dataset is associated to stock data. Therefore, the variable is "Stock." The units of this data are expressed as either "10^6 vehicle" or "Vehicles per 1000 inhabitants"

## Variable column

In [73]:
dataframeManager.simple_column_insert(df, ColumnName.VARIABLE.value, "Stock", 4)
df

,Source,Country,ISO Code,Region,Variable,Year,Measurement,Value,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,1995,absolute value,5560.0,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,1997,absolute value,3545.0,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,1998,absolute value,4109.0,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,2000,absolute value,3808.0,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,2008,absolute value,18329.0,Motorcycles
...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,2014,absolute value,2672.0,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,2016,absolute value,3071.0,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,2012,per 1000 inhabitants,0.0,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,2015,per 1000 inhabitants,0.0,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,2017,per 1000 inhabitants,0.0,Special purpose vehicles

# Unit and Value Column
    Rule: For the case in which the unit is "10^6 vehicle", we will transform the given value.

In [74]:
# Variable holding the unit and unit for each row based on the measurement
unit_column = []
value_column = []

for index, row in df.iterrows():
    if row["Measurement"] == "absolute value":
        unit_column.append("10^6 vehicle")
        current_value = row["Value"]
        new_value = current_value/1000000
        value_column.append(new_value)
    else:
        unit_column.append("Vehicles per 1000 inhabitants")
        value_column.append(row["Value"])

# assert that all rows have been analyzed
assert len(df) == len(unit_column)
assert len(df) == len(value_column)

# Erasing the current "Value" column and "Measurement" column
df.drop(columns=["Value", "Measurement" ], inplace = True)

# Adding the columns
df.insert(5, ColumnName.UNIT.value, unit_column, True)
df.insert(6, ColumnName.VALUE.value, value_column, True)
df

,Source,Country,ISO Code,Region,Variable,Unit,Value,Year,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,0.005560,1995,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,0.003545,1997,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,0.004109,1998,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,0.003808,2000,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,0.018329,2008,Motorcycles
...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,0.002672,2014,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,0.003071,2016,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,0.000000,2012,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,0.000000,2015,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,0.000000,2017,Special purpose vehicles

# Adding the 'Service' column
    Rule: The dataset is associated to passenger data, therefore, the "Service," is "Passenger"

In [75]:
dataframeManager.simple_column_insert(df, ColumnName.SERVICE.value, "Passenger", 6)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Value,Year,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,0.005560,1995,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,0.003545,1997,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,0.004109,1998,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,0.003808,2000,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,0.018329,2008,Motorcycles
...,...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,0.002672,2014,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,0.003071,2016,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,0.000000,2012,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,0.000000,2015,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,0.000000,2017,Special purpose vehicles

# Adding the "Technology" and "Fuel" columns
    Rule: Since the dataset does not provide information about technology or fuel, we set both as "All"

In [76]:
dataframeManager.simple_column_insert(df, ColumnName.TECHNOLOGY.value, "All", 7)
dataframeManager.simple_column_insert(df, ColumnName.FUEL.value, "All", 8)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Technology,Fuel,Value,Year,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,All,0.005560,1995,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,All,0.003545,1997,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,All,0.004109,1998,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,All,0.003808,2000,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,All,0.018329,2008,Motorcycles
...,...,...,...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,All,All,0.002672,2014,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,All,All,0.003071,2016,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,All,0.000000,2012,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,All,0.000000,2015,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,All,0.000000,2017,Special purpose vehicles

# Adding the "Mode" column
    Rule: This dataset represents "Road" data. Therefore, the mode is "Road"

In [77]:
dataframeManager.simple_column_insert(df, ColumnName.MODE.value, "Road", 8)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Technology,Mode,Fuel,Value,Year,Vehicle Category
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Road,All,0.005560,1995,Motorcycles
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Road,All,0.003545,1997,Motorcycles
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Road,All,0.004109,1998,Motorcycles
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Road,All,0.003808,2000,Motorcycles
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Road,All,0.018329,2008,Motorcycles
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,All,Road,All,0.002672,2014,Special purpose vehicles
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,All,Road,All,0.003071,2016,Special purpose vehicles
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,Road,All,0.000000,2012,Special purpose vehicles
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,Road,All,0.000000,2015,Special purpose vehicles
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,Road,All,0.000000,2017,Special purpose vehicles

# Adding the "Vehicle Type" column
    Rule: The following is the mapping done for setting the mode:
        Vehicle Category ---> Vehicle Type
        Special purpose vehicles ---> Special purpose vehicles
        Passenger cars ---> LDV
        Trams ---> Trams
        Motorcycles ---> Motorcycles
        Motor coaches, buses and trolley bus ---> Bus
        Mopeds ---> Mopeds

In [78]:
# Variable holding the vehicle type of each row
vehicle_type_column = []

for index, row in df.iterrows():
    vehicle = row["Vehicle Category"]
    
    if vehicle == "Passenger cars":
        vehicle_type_column.append("LDV")
    elif vehicle == "Motor coaches, buses and trolley bus":
        vehicle_type_column.append("Bus")
    else:
        vehicle_type_column.append(vehicle)
        
# Assert that all rows have a vehicle type
assert len(df) == len(vehicle_type_column)

# Erasing the Vehicle Category column
df.drop(columns=["Vehicle Category"], inplace = True)

df.insert(8, ColumnName.VEHICLE_TYPE.value, vehicle_type_column, True)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Technology,Vehicle Type,Mode,Fuel,Value,Year
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Motorcycles,Road,All,0.005560,1995
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Motorcycles,Road,All,0.003545,1997
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Motorcycles,Road,All,0.004109,1998
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Motorcycles,Road,All,0.003808,2000
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,All,Motorcycles,Road,All,0.018329,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,All,Special purpose vehicles,Road,All,0.002672,2014
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,All,Special purpose vehicles,Road,All,0.003071,2016
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,Special purpose vehicles,Road,All,0.000000,2012
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,Special purpose vehicles,Road,All,0.000000,2015
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,All,Special purpose vehicles,Road,All,0.000000,2017

# Reordering Columns
    Rule: Rule: To comply with the current template, the columns must be shown in a specific order. The dataframe manager specifies the order of the columns

In [80]:
df = dataframeManager.reorder_columns(df)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Mode,Vehicle Type,Technology,Fuel,Value,Year
0,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,Road,Motorcycles,All,All,0.005560,1995
1,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,Road,Motorcycles,All,All,0.003545,1997
2,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,Road,Motorcycles,All,All,0.004109,1998
3,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,Road,Motorcycles,All,All,0.003808,2000
4,United Nations Economic Commission for Europe,Albania,ALB,Non-EU Europe,Stock,10^6 vehicle,Passenger,Road,Motorcycles,All,All,0.018329,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9028,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,Road,Special purpose vehicles,All,All,0.002672,2014
9029,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,10^6 vehicle,Passenger,Road,Special purpose vehicles,All,All,0.003071,2016
9030,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,Road,Special purpose vehicles,All,All,0.000000,2012
9031,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,Road,Special purpose vehicles,All,All,0.000000,2015
9032,United Nations Economic Commission for Europe,Uzbekistan,UZB,Other Asia-Pacific,Stock,Vehicles per 1000 inhabitants,Passenger,Road,Special purpose vehicles,All,All,0.000000,2017

# Exporting Results

In [81]:
# Programming Friendly View
dataframeManager.create_programming_friendly_file(df)

# User Friendly View
dataframeManager.create_user_friendly_file(df)

> PF File saved at: /Users/hlinero/Documents/database/item/historical/scripts
> UF File saved at: /Users/hlinero/Documents/database/item/historical/scripts